@media (min-width: 768px) {
  .w_25_s {
    width: auto;
  }

  .d_none {
    display: flex;
  }

  .space_btw {
    justify-content: space-between;
  }

  .w_98 {
    width: 70%;
    margin: auto;
  }

  .font_size {
    font-size: 12px;
  }

  .font_size_l {
    font-size: 20px;
  }

  .h_vh {
    height: 7vh;
  }

  .mt {
    margin-top: 7vh;
  }

  .fot_w {
    width: 80%;
  }

  .fot_grid {
    column-gap: 10px;
  }

  .d_flex_md {
    display: flex;
  }

  .frms {
    padding: 20px 15% 20px 45px;
  }

  .mx-10 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (min-width: 1024px) {
  .w_98 {
    width: 60%;
    margin-left: 5%;
  }

  .d_lg {
    display: flex;
  }

  .frms {
    padding: 25px 15% 20px 80px;
  }
}
